<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

  <Bundle UpgradeCode='34a60b62-4080-421e-8912-30f149b07a62'
          Version='QW version WQ'>
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication SuppressOptionsUI='yes'
                                              SuppressRepair='yes'
                                              ShowVersion='yes'
                                              LicenseFile='static_link_license.rtf'
                                              Theme='rtfLargeLicense'
                                              />
    </BootstrapperApplication>

    <Chain>
      <!-- windows 10 version: 10 -->
      <!-- but don't make any assumptions about marketing name to version name, check the table! -->
      <!--https://docs.microsoft.com/en-us/windows/desktop/SysInfo/operating-system-version-->
      <MsiPackage Id='Msi32'
                  SourceFile='$(var.BUILD32_DIR)/installer/splintermail_x86.msi'
                  InstallCondition='NOT VersionNT64 AND VersionNT >= v6.1'
                  Visible='yes'
                  Vital='yes'
                  />
      <MsiPackage Id='Msi64'
                  SourceFile='splintermail_x64.msi'
                  InstallCondition='VersionNT64 AND VersionNT >= v6.1'
                  Visible='yes'
                  Vital='yes'
                  />
    </Chain>
  </Bundle>

</Wix>
