Source: QWERpkgnameREWQ
Maintainer: QWERmaintainer_stringREWQ
Section: misc
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 10), libssl-dev, cmake (>= 3.1)

Package: QWER pkgname REWQ
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libssl1.1, ca-certificates
Pre-Depends: openssl
Description: QWER pkgdescr_short REWQ
QWER["prefix", " ", ["call", "pkgdescr_long", {"width":"70"}]]REWQ
