<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.splintermail.citm</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/splintermail</string>
    <string>citm</string>
  </array>
  <!-- CITM has no launchd integration, it accepts its own connections -->
  <key>KeepAlive</key>
  <true/>
  <!-- not a gui application -->
  <key>ProcessType</key>
  <string>Background</string>
  <!-- run as the _splintermail user -->
  <key>UserName</key>
  <string>_splintermail</string>
  <!-- <key>StandardErrorPath</key>
  <string>HOME/.ditm/ditm_log.stderr</string> -->
</dict>
</plist>
