<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.splintermail.citm</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/splintermail</string>
    <string>citm</string>
    <string>--system</string>
  </array>
  <key>Sockets</key>
  <dict>
    <!--
      listener tcp sockets: must be named listenN where N is 0-indexed.
      Supposedly you can have a Socket item which is an array of
      dicts, but launchd doesn't actually preserve the order of the array,
      and the order of sockets must match the order of `listen` options in
      the splintermail config file, so this is how we preserve ordering.
    -->
    <!-- the default starttls://127.0.0.1:143 -->
    <key>listen0</key>
    <dict>
      <key>SockNodeName</key>
      <string>127.0.0.1</string>
      <key>SockServiceName</key>
      <integer>143</integer>
      <key>SockFamily</key>
      <string>IPv4</string>
    </dict>
    <!-- the default starttls://[::1]:143 -->
    <key>listen1</key>
    <dict>
      <key>SockNodeName</key>
      <string>::1</string>
      <key>SockServiceName</key>
      <integer>143</integer>
      <key>SockFamily</key>
      <string>IPv6</string>
    </dict>
    <!-- the default tls://127.0.0.1:993 -->
    <key>listen2</key>
    <dict>
      <key>SockNodeName</key>
      <string>127.0.0.1</string>
      <key>SockServiceName</key>
      <integer>993</integer>
      <key>SockFamily</key>
      <string>IPv4</string>
    </dict>
    <!-- the default tls://[::1]:993 -->
    <key>listen3</key>
    <dict>
      <key>SockNodeName</key>
      <string>::1</string>
      <key>SockServiceName</key>
      <integer>993</integer>
      <key>SockFamily</key>
      <string>IPv6</string>
    </dict>
    <!-- status server unix socket -->
    <key>status</key>
    <dict>
      <key>SockPathName</key>
      <string>/var/run/splintermail.sock</string>
      <!-- SockPathOwner, SockPathGroup, and SockPathMode seem to cause
           launchd to silently ignore this socket -->
    </dict>
  </dict>
  <!-- not a gui application -->
  <key>ProcessType</key>
  <string>Background</string>
  <!-- run as the _splintermail user -->
  <key>UserName</key>
  <string>_splintermail</string>
</dict>
</plist>
