[Unit]
Description=splintermail CITM server.
After=network.target
Requires=splintermail.socket

[Service]
Type=notify
Restart=always
ExecStart=QW install_prefix WQ/bin/splintermail citm --system
User=splintermail
Group=splintermail

[Install]
WantedBy=default.target
