[Unit]
Description=Splintermail CITM downloads completely encrypted emails from the Splintermail.com server, decrypts them locally, and presents a local IMAP interface to an email client.

[Service]
Type=simple
ExecStart=@CMAKE_INSTALL_PREFIX@/bin/splintermail citm
StandardOutput=syslog
StandardError=syslog
Restart=on-failure
User=splintermail
Group=splintermail

[Install]
WantedBy=default.target
